.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.login-container > img {
  object-fit: contain;
  height: 200px;
}

.login-button {
  width: 28%;
}
